.header {
  padding-top: 110px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000;
}

/* 전체 */
.path {
  fill: none;
  stroke: #000;
  stroke-width: 0.52px;
}

.path2 {
  stroke: #000;
}

.footer {
  height: 30vh;
  background-color: #000;
}
@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}
